body {
  padding: 20px;
}

.card {
  padding: 20px;
  border-radius: 18px;
  margin-bottom: 20px;
}

h2 {
  margin: 10px 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6px 0;
}

.title {
  font-weight: 600;
}
